:root {
    --code-block-bg-color: #24262b;
    --shiki-dark-bg: #181a1f;
}

.markdown-content [data-streamdown="code-block"] {
    border-radius: 4px;
}

.markdown-content [data-streamdown="code-block-header"] {
    background-color: var(--code-block-bg-color);

    span {
        color: #fff;
        margin-left: 8px;
    }
}

.markdown-content [data-streamdown="code-block-download-button"] {
    color: rgb(128, 128, 128);
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 4px 8px;
    border-radius: 4px;
    transition: background-color 0.2s ease;
}

.markdown-content [data-streamdown="code-block-copy-button"] {
    color: rgb(128, 128, 128);
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 4px 8px;
    border-radius: 4px;
    transition: background-color 0.2s ease;
}

.markdown-content [data-streamdown="code-block-body"] {
    background-color: var(--shiki-dark-bg);
    margin: 0;
    overflow: auto;
}

.markdown-content [data-streamdown="code-block-body"]::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.markdown-content [data-streamdown="code-block-body"]::-webkit-scrollbar-track {
    background-color: var(--code-block-bg-color);
    border-radius: 4px;
}

.markdown-content [data-streamdown="code-block-body"]::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    transition: background-color 0.2s ease;
}

.markdown-content [data-streamdown="code-block-body"]::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.5);
}